body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    margin: 0;
}
.header-section{
    display: flex;
    justify-content: space-between;
    padding-left:  120px;
    padding-top: 60px;   
}
/* navigation design */
.nav-bar ul{
    display: flex;  
}
.ul-design li{
    list-style-type: none;
    margin-right: 24px; 
    padding: 7px 20px ;  
}
.ul-design li a{
    text-decoration: none;
    font-size: 16px;
}
.nav-bar li:hover{
    background-color: lightsteelblue;
}

/* influence section */

.influence{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
}
.influence-paragraph {
    padding-top: 110px;
    padding-right: 40px;
}
.influence-heading{
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding-right: 50px;
}
.influence img{
    width:110%;  
}
.button-style{
    background-color: #E02C6D;
    color:white;
    padding: 10px 24px;
    border: 1px solid;
    border-radius: 40px;
}

.onling-shopping{
    display: flex;
    justify-content: space-between;
    margin-left:  165px;
    margin-right:  165px;
    padding:20px;
    box-shadow: 1px 0 1px silver;
}
.onling-shopping img{
    width: 6%;
}



/* popular collection style */
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2em;
    padding:30px;

}
.popular-collection{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 100px;
 }
.collection-discription{
    padding: 17px;
    box-shadow:  10px 10px 40px silver;
    border-radius: 5px;
}
.collection-info{
    display: flex;
    align-items: center;
}
.filled{
    font-size: 12px;
    color: #FB8200;
    padding-right: 5px;
   
}

/* features style */
.feature{
    display: flex;
    justify-content: space-between;
   margin:100px 165px;
}
.feature img{
    width: 404px;
    height: 270px;
}
.feature-paragraph{
    margin-left: 80px;
    padding:5px;
}
.feature-heading{
    font-weight: bold;
    font-size: 32px;
}
.feature-button{
    background-color: #E02C6D;
    color:white;
    padding: 10px 24px;
    border: 1px solid; 
}

/* footer design */
footer{
    background-color:#120E43 ;
    color: white;
    text-align: center;
    padding: 15px;
}
footer i{
    padding-right: 16px;;
}
.footer-design{
    display: flex;
    justify-content:center;
}
/*...........media quaries............. */
/* mobile devices */
@media only screen and (max-width:688px) {
    .influence{
        width:100%;
        flex-direction: column;
        margin-left: 30px;
    }
    .influence img{
        width:180%;  
        margin-left: -30px;
    }
    .feature{
        flex-direction: column; 
        margin: 50px 80px;
    }
    .feature-button{
        padding:10px 20px;
    }
    
    .collections{
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        width: 150%; 
    }
   
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .collections{
        grid-template-columns: repeat(2,1fr);
    }
    .influence{
        width:100%;
        flex-direction: column;
        margin-left: 60px;
    }
    .feature{
        flex-direction: column; 
        margin: 50px 100px;
    }
    footer{
        width: 100%; 
    }
}